@font-face {
    font-family: "Arimo";
    src: local("Arimo"),
     url("../Fonts/Arimo/static/Arimo-Regular.ttf") format("truetype");
    font-weight: 400;
}

.calWrapper {
    min-width: 20rem;
    
    .controllers {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .hebTitle {
        direction: rtl;
        font-family: "Arimo";
    }
    
    table {
        border-collapse: collapse;
        border: 1px solid;
        empty-cells: show;
        width: 100%;

        td, th {
            border: 1px solid;

            .hebDate {
                font-family: "Arimo";
            }
        }

        
    }
}